#root {
  display: flex;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.app {
  width: 70%;
  max-width: 600px;
  padding: 20px;
  background-color: #812626;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.app h1 {
  text-align: center;
  color: #000000;
}
.task-input {
  padding: 10px;
  font-size: 16px;
  color: #000000;
}

.add-button {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue;
  color: white;
  color: #000000;
}
.app li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #000000;
  font-weight: bold;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
  color: #000000;
  font-weight: bold;
  width: 50%;
  background-color: #900835;
}

.complete-button {
  background-color: green;
  color: white;
  font-size: 14px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
  
}

.undo-button {
  background-color: orange;
  color: white;
  font-size: 14px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
  width: 60px;
} 

.delete-button {
  background-color: red;
  color: white;
  font-size: 14px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
}
